.copy{    
	    box-shadow: black 8px -4px 56px -7px;
	color: black;
    background-color: silver;
    padding: 1px;
    text-align: center;
    width: 102%;
    font-family: fantasy;
    font-size: 14px;
        bottom: 0px;
 
}
.logoText{
	  top: -16px;
    position: absolute;
    left: 57px;
    font-size: 1.6em;
    font-family: fantasy;
    COLOR: white;

}
.hand  { position: fixed;
    top: -27px;
    width: 100vw;
    left: 0%;
    z-index: -1;
}
.precision{    font-family: fantasy;
    font-size: 109px;
    z-index: -3;
    position: fixed;
    color: black;
    top: -10px;
    left: 40px;
}
.precision2{
      left: 700px;
    z-index: -3;
    top: 175px;

}
a {color: black;
}
.topMenu{
      font-family: fantasy;
    color: white;
    font-size: 20px;
    position: relative;
    padding: 6px;
    border-radius: 0px 0px 10px 10px;
    border: none;
    left: 23%;
    z-index: 2;
    color: black;
    top: -3px;
    padding-top: 10px;
    background-color: ghostwhite;
    outline: none;
    }
button:hover{
    background-color:black;
    color:white;
    box-shadow:silver 0px 1px 24px;

       animation: pulse 1s; 
     cursor:pointer; 
}
.activePage{
    background-color:black;
    color:white;
    box-shadow:silver 0px 1px 24px;"
}

.team{
        left: 24%;
 
}
.aboutButton{
    left:25%;
}
.contactButton{
    left:26%;
}

.tagline{
    background-color: black;
    color:white;
    text-align: center;
    background-color: black;
    color: white;
    position: fixed;
    top: 0%;
    left: 0%;
    margin: 0%;
    padding-bottom: 10%;
    padding-top: 15%;
    text-align: center;
    width: 100%;
    box-shadow: 0 0 1px 3px #000 inset;
}

.tech{
        position: fixed;
    top: 29px;
    width: 100vw;
    left: 0%;
    height: 101%;
    z-index: -3;
}
footer{
color: ghostwhite;
    padding: 1px;
    background: darkgray;
    bottom: 0px;
    position: fixed;
    width: 102%;
    margin-left: -2%;
    font-family: fantasy;
}
.logo{
	z-index:50;
	height:50px;
	position: absolute;
	top:1;
	left: 1;
}
header{    
	    box-shadow: 2px 1px 27px;
	background-color: black;
    height: 53px;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;}
 
 .foot{
  	display: inline;
    margin-left: 2%;
    line-height: 2.2;
  }

  .projectImg{
    z-index: 0;
            width: 26%;
    float: left;
    margin-right: -27px;
    margin-top: 68px;
    box-shadow: black 4px 4px 21px;
    position: fixed;
    margin-left: 5px;
    border-radius: 9px;
  }

  .projectImg:hover{
    
    opacity:.2;
    border-style: dotted;
    border-width: 2px;
  }

  .projectText{
        position: fixed;
    overflow-wrap: normal;
    font-size: 24px;
    font-family: fantasy;
    z-index:-3;
     width: 20%;
  }
  .solar{
        top: 69px;

    left: 349px;
  }
    .solarText{
   
    left: 28%;
    top: 133px;
  }
  .winterText{    
    top: 125px;
    left: 52px;
}
.umbrellaImg{
        top: 125px;
        left:693px;
}
.umbrellaText{
        left: 757px;
    top: 223px;
}
.wizardImg{
        top: 183px;
        left: 1050px;
}
.wizardText{
      left: 1098px;
    top: 243px;
    width: 23%;
}
iframe{position: absolute; 
        z-index: 20;
        top: 50px;
        left: 0px;;
        z-index: 20;
    }
.closer{
        z-index: 21;
    position: absolute;
    height: 55px;
    color: red;
    font-size: 19px;
    border-radius: 7px;
    top: 60px;
    left: 91%;
    background-color: ghostwhite;
    border: solid 2px black;
    }
.projectTextDemo{
    top: 60%;
    font-size: 30px;
    font-family: fantasy;
    position: absolute;
    margin-left:5px;

}
.codyImg{
        float: left;
    border-radius: 10px;
    box-shadow: silver 8px 9px 10px;
    position: relative;
    margin-right:30px;
    margin-left:10px;
}
.codyTxt{ position: relative;
    top: 37px;
    font-size: 17px;
    padding: 10px 75px 7px 30px;
}
.aboutText{
     font-family: fantasy;
    top: 75px;
    font-size:18px;
    text-align: center;
    position: relative;
    padding: 0px 70px 40px 70px;
}

